{% extends 'base_html.html' %}

{% block contents %}

<h2>問題削除ページ</h2>


<form method="post">

<table>
  <tr>
    <th class="delete1">章タイトル：</th><th class = "delete2">{{object.shou.shou_name}}</th>
  </tr>
  <tr>
    <th class="delete1">問題タイトル：</th><th class = "delete2">{{object.title}}</th>
  </tr>
  <tr>
    <th class="delete1">問題文：</th><th class = "delete2">{{object.prob_bun}}</th>
  </tr>
</table>

<h3>上記の問題を<font color="red">「削除」</font>しますか？</h3>

<button type="submit" name="登録" value="登録" onclick="check()">削除する</button>

  {% csrf_token %}
</form>


{% endblock %}
