{% extends 'base_html.html' %}

{% block contents %}


<table>
  <tr>
    <th style="font-size:20px;">　正誤：</th>
    <td><p>{{seigo}}</p></td>
  </tr>

  <tr>
    <th style="font-size:20px;">　問題：</th>
    <td><p>{{prob.prob_bun}}</p></td>
  </tr>

  <tr>
    <th style="font-size:20px;"><span>　解説：</span></th>
    <td><p>{{ prob.kaisetsu| linebreaksbr }}</p></td>
  </tr>

  <tr>
    <th style="font-size:20px;">選択肢：</th>
    <td><p>{{answer}}番</p></td>
  </tr>
</table>

<table>
  <tr>
    <td style="padding:0 5px 0 5px;"><a href={% url "item:answer_page" shou_id=shou_id prob_num=prob_num %}>もう一度</a></td>
    <td style="padding:0 5px 0 5px;"><a href={% url "item:answer_page" shou_id=shou_id prob_num=next_id %}>次へ</a></td>
    <td style="padding:0 5px 0 5px;"><a href={% url "item:prob_list" prob.shou_id %}>問題一覧へ</a></td>
  </tr>
</table>

{% endblock %}
